html {
  background-color: ghostwhite;
  color: #1A1919;
  font-size: 18px;
}

body {
  margin: 0;
}

.hmt-centered-image {
  display: block;
  margin: 0 auto;
}

.hmt-centered-text {
  text-align: center;
}